/*
 * Основная секция CSS
 */
.activity-counter {
    position: relative;
    left: -1px;
    bottom: 1px;
}

.col-sm-2 {
    display: flex;
}

.lni-user {
    color: Mediumslateblue;
}
.lni-cog {
    color: #8a61d1;
}
.lni-star {
    margin-top: -2px !important;
    color: Mediumslateblue;
    opacity: 0.4;
}
.bg-success {
    background-color: #ccffcc !important;
}
.bg-warning {
    background-color: #ffffcc !important;
}
.bg-error {
    background-color: rgb(255, 204, 204, 0.7) !important;
}
.color-error {
    color: red !important;
}
.small-info-box {
    background-color: rgba(87, 87, 87, 0.5);
    color: rgba(255, 255, 255, 0.8);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
.small-info-box-text {
    position: relative;
    bottom: 1px;
}
.card-img-overlay {
    height: 0;
}
.card-img-overlay.small-info {
    position: relative;
    padding: 0 !important;
    top: -24px !important;
    left: 4px !important;
    height: 0;
}
.card-img-overlay.medium-info {
    position: relative;
    padding: 0 !important;
    top: -28px !important;
    left: 2% !important;
    height: 0;
}
.card-img-top {
    object-fit: cover;
}
.col-sm-2 .card-img-top {
    width: calc(11rem - 1px);
    height: 11rem;
}
.col-sm-3 .card-img-top {
    height: 16rem;
}
.card-img-overlay .btn {
    display: none;
}
.card:hover .btn {
    display: block;
    opacity: 0.6;
}

.add-group-button {
    position: fixed;
    width: 135px;
    height: 135px;
    bottom: 40px;
    right: 40px;
    background-color: #9ddd88;
    border-radius: 50%;
    box-shadow: 2px 2px 3px #999;
}

.lni-plus {
    color: white;
}

.form-control:focus {
    border-color: rgba(96, 66, 148, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(96, 66, 148, 0.4);
}

.bootbox-input-textarea {
    min-height: 200px;
}

.opaque-1 {
    opacity: 0.1;
}
.opaque-2 {
    opacity: 0.2;
}
.opaque-3 {
    opacity: 0.3;
}
.opaque-4 {
    opacity: 0.4;
}
.opaque-5 {
    opacity: 0.5;
}
.opaque-6 {
    opacity: 0.6;
}
.opaque-7 {
    opacity: 0.7;
}
.opaque-8 {
    opacity: 0.8;
}
.opaque-9 {
    opacity: 0.9;
}

.popover.no-weight-limit {
    max-width: unset !important;
}

/*
 * Индикатор загрузки в виде радуги
 */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 180px;
    height: 180px;
}

.spinner {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 10px solid rgba(225, 225, 225, 0.43);
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

.spinner.red {
    border-top: 10px solid rgba(255, 81, 81, 0.3);
}

.spinner.yellow {
    border-top: 10px solid rgba(255, 255, 0, 0.3);
}

.spinner.green {
    border-top: 10px solid rgba(0, 255, 0, 0.3);
}

.spinner.purple {
    border-top: 10px solid rgba(255, 0, 255, 0.3);
}

@keyframes rotate {
    100% { transform: rotate(360deg); }
}

/*
 * Bootstrap анимация
 */
.fade {
    transition:opacity 0.15s linear !important;
}
.collapsing {
    transition:height 0.35s ease !important;
}
.custom-switch .custom-control-label::after {
    transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-transform 0.15s ease-in-out !important;
    transition:transform 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
    transition:transform 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-transform 0.15s ease-in-out !important;
}
.custom-range::-webkit-slider-thumb {
    transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.custom-range::-moz-range-thumb {
    transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.custom-range::-ms-thumb {
    transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.custom-control-label::before,.custom-file-label,.custom-select {
    transition:background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.badge {
    transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.progress-bar {
    transition:width 0.6s ease !important;
}
.progress-bar-animated {
    -webkit-animation:progress-bar-stripes 1s linear infinite !important;
    animation:progress-bar-stripes 1s linear infinite !important;
}
.modal.fade .modal-dialog {
    transition:-webkit-transform 0.3s ease-out !important;
    transition:transform 0.3s ease-out !important;
    transition:transform 0.3s ease-out,-webkit-transform 0.3s ease-out !important;
}
.carousel-item {
    transition:-webkit-transform 0.6s ease-in-out !important;
    transition:transform 0.6s ease-in-out !important;
    transition:transform 0.6s ease-in-out,-webkit-transform 0.6s ease-in-out !important;
}
.carousel-fade .carousel-item {
    transition-property: opacity !important;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    transition: 0s 0.6s opacity !important;
}

.carousel-control-prev,.carousel-control-next {
    transition:opacity 0.15s ease !important;
}
.carousel-indicators li {
    transition:opacity 0.6s ease !important;
}
.form-control {
    transition:border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
.btn {
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}